body {
  color: #fff;
}

.sidebar {
  background: #4D407A;
  position: fixed;
  top: 0px;
  bottom: 0;
  display: block;
  font-size: 1.8em;
  padding: 10px;

  h2 {
    padding: 39px;
  }

  ul {
    list-style-type: none;
    font-size: 18px;
    font-weight: 200;
  }
}


.main {
  color: #000;
  padding-top: 36px;
  padding-left: 24px;
}

