.sidebar {
  position: fixed;
  top: 30px;
  bottom: 0;
  display: block;
  background: white;
  font-size: 1.8em;
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
}

.main {
  padding-top: 36px;
  padding-left: 24px;
}
